<!DOCTYPE html>
<!--HTML_5-->
<html>
    <head>
        <title>Sub page</title>
        <link rel="stylesheet" href="../sub3/stylesheet3.css">
    </head>
    <body>
        <h1>Welcome to My <a href="../sub5/stylesheetno.html" target="_blank">Homepage</a></h1>
        <p>Use the menu to select different Stylesheets</p>
        <ul>
            <li><a href="../sub1/stylesheet1.html">stylesheet1</a></li>
            <li><a href="../sub2/stylesheet2.html">stylesheet2</a></li>
            <li><a href="../sub3/stylesheet3.html">stylesheet3</a></li>
            <li><a href="../sub4/stylesheet4.html">stylesheet4</a></li>
            <li><a href="../sub5/stylesheetno.html">stylesheetno</a></li>
        </ul>
        <p><h1>Same Page Different Stylesheets</h1></p>
        <p>This is a demonstration of how different stylesheets can change the layout of your HTML page. You can change the layout of this page by selecting different stylesheets in the menu, or by selecting one of the following links:<a href="../sub1/stylesheet1.html">stylesheet1</a>
            ,<a href="../sub2/stylesheet2.html">stylesheet2
                ,<a href="../sub3/stylesheet3.html">stylesheet3</a>,
                <a href="../sub4/stylesheet4.html">stylesheet4</a>,
                <a href="../sub5/stylesheetno.html">stylesheetno</a></p>
    </body>
</html>